


.header {
    width: 90%;
    height: 7rem;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(26, 12, 181,100%);
    padding: 0 5%;
    cursor: pointer;
    border-radius: 15px;
    
  }
  
  /* .logo {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    font-weight: bold; 
    
  } */
 
  .logo img {
    width: 100px;
    height: 100px;
}
  
  .header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .header li {
    margin-left: 3rem;
  }
  
  .header a {
    text-decoration: none;
    font-size: 1.5rem;
    color: goldenrod;
  }
  
  .header a:hover,
  .header a:active,
  .header a.active {
    color: rgb(129, 28, 28);
  }